@page
@model XMLProjectIS.Pages.DetailsModel
@{
    MovieDetails.Item movies = (MovieDetails.Item)ViewData["SelectedMovieDetails"];
    TV.Item tvdetails = (TV.Item)ViewData["SelectedTVDetails"];

}

<<head>
    <link rel="stylesheet" href="/css/StyleSheet.css" type="text/css" />
</head>


 <body>

     @if (movies != null)

     {
         <h1>Selected Movie Details</h1>
         <div class="text-center">
             <h3>Name: @movies.FullTitle </h3>
             <img src="@movies.Image" height="450" />
             <h4>Rank: @movies.Rank</h4>
             <h5>Cast: @movies.Crew</h5>
             <h5>IMDB Rating: @movies.ImDbRating , Vote count: @movies.ImDbRatingCount</h5>


         </div>
     }

     @if (tvdetails != null)

     {
         <h1>Selected TV Details</h1>
         <div class="text-center">
             <h3>Name: @tvdetails.FullTitle </h3>
             <img src="@tvdetails.Image" height="450"/>
             <h4>Rank: @tvdetails.Rank</h4>
             <h5>Cast: @tvdetails.Crew</h5>
             <h5>IMDB Rating: @tvdetails.ImDbRating , Vote count: @tvdetails.ImDbRatingCount</h5>

         </div>
     }

 </body>