@page
@model IndexModel
@{
    ViewData["Title"] = "";
    var MovieList = (List<MovieDetails.Item>)ViewData["UserMoviesList"];

}

<head>
    <link rel="stylesheet" href="/css/StyleSheet.css" type="text/css" />
    <style>
        .bg-img {
            background-image: url("https://pickamovieforme.b-cdn.net/wp-content/uploads/2020/06/bg.jpg");
            background-color: #cccccc;
            @*background-position: center;
            *@ background-repeat: no-repeat;
            @*background-size: cover;
            *@ @*position: relative;
            background-size: cover;
            *@ position: fixed;
            width: 100%;
            height: 100%;
        }

        .content {
            color: white;
            font-size: 25px
        }

        .welcome {
            
            font-size: xx-large;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .center {
            margin: auto;
            width: 50%;
        }
        .input {
            width: 50% !important;
            float: right;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>

<body>
    <div class="bg-img container-fluid">
    </div>
    <div class=" container-fluid pt-3 content">

        <div class="col-sm-12 welcome text-center">

            <h1>
                <strong>BingeWatch.com!!!</strong>
            </h1>
        </div>


        <div class="col-12">
          
                <form action="/ItemData" method="get" class="row">
                    <div class="col-8 pt-1">
                        <input asp-for="MovieIdentifier" class=" form-control input pt-1" placeholder="Search a Movie or a TV Show" />
                    </div>
                    @*<input asp-for="MovieIdentifier" class=" form-control mr-sm-2 col-sm-6" placeholder="Search a Movie or a TV Show" />*@
                    <div class="col-4">
                    <button type="submit" class="btn btn-primary">Search</button>
                     </div>
                        </form>
          
        </div>

        @*<div class="d-flex justify-content-center bg-secondary mb-3">
            <div class="p-2 bg-info">Flex item 1</div>
            <div class="p-2 bg-warning">Flex item 2</div>
            <div class="p-2 bg-primary">Flex item 3</div>
        </div>*@

        <div class="col-sm-12">
            <br />
            <p class="text-center" style="font-family:Bahnschrift">
                How long do you spend looking for something to watch ?<br />
                If you are still looking for an answer, we got you covered.<br />
                BingeWatch.com lets you find the top 250 movies or TV Shows with IMDB Reviews and ratings.
            </p>
        </div>

        <div class="col-12">
            <div id="carouselExampleIndicators" class="carousel slide" interval="1000" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item carousel-1 active">
                        <img src="/img/toystory.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item carousel-1">
                        <img src="/img/godfather.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item carousel-1">
                        <img src="/img/chernobyl.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

        <div class="col-12 image text-center">
            <a asp-page="./BreweryArcs">
                <img src="/img/Beer Poster.png" alt="Beer poster" height="200" />
            </a>
        </div>

    </div>


</body>










@*<style>
        .searchTxt {
            width: 100%;
        }

        .movieCard {
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 360px;
            margin: 20px;
            border: 1px solid black;
            box-shadow: 2px 2px 8px 0px #000000;
            -webkit-box-shadow: 2px 2px 8px 0px #000000;
        }

        .movieContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .movieTitle{
            display: flex;
            justify-content: space-between;
        }

        .movieImg{
            width: 100%;
        }

        .movieTitle {
            display: flex;
            justify-content: space-around;
        }

        .searchTxt {
            width: 100%;
        }

        .TvCard {
            display: flex;
            flex-direction: column;
            width: 200px;
            height: 360px;
            margin: 20px;
            border: 1px solid black;
            box-shadow: 2px 2px 8px 0px #000000;
            -webkit-box-shadow: 2px 2px 8px 0px #000000;
        }

        .TVContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .TVTitle {
            display: flex;
            justify-content: space-between;
        }

        .display-4 {
            width: 100%;
        }
    </style>

    <div class="text-center">
        <h1 class="display-4">Movies</h1>
    </div>

    <input id="Text1" type="text" class="searchTxt" />

    <hr />*@

@*<div class="movieContainer">
        @foreach (MovieDetails.Item movie in movies)
        {
            <div class="movieCard">
                <div>
                    <img src="@movie.Image" class="movieImg" alt="Img Not Found" />
                </div>
                <div class="movieTitle">
                    <label>@movie.Title</label>
                    <label>@movie.Year</label>
                </div>
                <div class="movieTitle">
                    <label>IMDB Rating:-</label>
                    <label>@movie.ImDbRating</label>
                </div>
            </div>
        }
    </div>*@


@*<div class="TVContainer">
        @foreach (TV.Item TVs in tvdetails)
        {
            <div class="TvCard">
                <div>
                    <img src="@TVs.Image" class="movieImg" alt="Img Not Found" />
                </div>
                <div class="TVTitle">
                    <label>@TVs.Title</label>
                    <label>@TVs.Year</label>
                </div>
                <div class="TvTitle">
                    <label>IMDB Rating:-</label>
                    <label>@TVs.ImDbRating</label>
                </div>
            </div>
        }
    </div>*@

@*<table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>IMDB Rating</th>
                <th>Ranking</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MovieDetails.Item movie in movies)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                    <td>@movie.ImDbRating</td>
                    <td>@movie.Rank</td>
                </tr>
            }

        </tbody>
    </table>*@
